<nav class="navbar bg-body-tertiary bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand text-white">Minha Loja</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" aria-label="Search">
      <button class="btn btn-primary" type="submit">Pesquisar</button>
    </form>
  </div>
  <div class="collapse navbar-collapse" id="navmenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/produtos" class="nav-link">Lista de Produtos</a>
      </li>
    </ul>
  </div>
</nav>
